$font-stack: 'Barlow', sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
  }

h1, h2 {
    font-style: $font-stack;
    text-align: center;
}

#header {
  margin-bottom: 2.5%;;
}